   <div class="h-screen">
  <app-navbar></app-navbar>

  <div class="flex flex-col items-center justify-center h-full text-white bg-cover bg-center font-bold text-6xl text-center font-serif"
       style="background-image: url('test.jpg');">
       <form (ngSubmit)="onSubmit()" class="w-66  p-10 m-20 rounded-2xl flex flex-col justify-center items-center bg-black bg-opacity-50">
           <h2> Sign up </h2> 
           <label class=" text-2xl mt-10 self-start">Email</label>
           <input type="email" name="email" [(ngModel)]="email" required class="p-5 w-96 h-10 mt-2 rounded-md  text-black text-lg">
           <label class=" text-2xl mt-6 self-start">Password</label>
           <input type="password" name="password" [(ngModel)]="password" required  class="p-5 w-96 h-10 mt-2 rounded-md text-black text-lg">

           
           <button type="submit" class=" text-2xl mt-10 bg-opacity-70 bg-lime-900 p-3 rounded-xl ">sign up </button>
       </form>
      </div>
</div>

 

