<div class="flex items-center  text-green  text-white font-bold justify-between">
    <img  class=" w-26 h-10 pl-2 cursor-pointer"  src="./logovert.png"  routerLink="/" />
    <div class="flex justify-around space-x-6 mr-6 font-serif">
        <div 
  class="p-3 rounded-2xl bg-white text-[#225123] m-3 cursor-pointer"  
  routerLink="/signin">
  Sign in
</div>

<div 
  class="p-3 rounded-2xl bg-[#225123] text-white m-3 cursor-pointer"  
  routerLink="/signup">
  Sign up
</div>

    </div>
   
</div>